@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
  }
  .animate-shake {
    animation: shake 0.5s ease;
  }
  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
  .animate-fade-in {
      animation: fadeIn 0.3s ease-out forwards;
  }
  @keyframes load {
      0% { width: 0%; }
      60% { width: 70%; }
      100% { width: 90%; }
  }
  .animate-loading-bar {
      animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}